@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    overflow: auto;
}

.s1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: black;
    box-shadow: 0 0 10px 0 grey;
    z-index: 999;
}

footer {
    display: flex;
    justify-content: center; /* Center items horizontally */
    background-color: #f0f0f0;
    padding: 10px;
    background-color: black;
    gap: 20px;
}
footer div {

    margin: 0 10px; /* Optional: Add some spacing between items */
}
footer div a{
    font-family: 'poppins';
    color: white;
    text-decoration: none;
}

.s2 {
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    background-color: #1f1e1e;
    background-position: center;
    background-attachment: fixed;
    background-size: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.s3 {
    position: relative;
    max-width: 400px;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    transition: all ease-in 1s;
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 20px;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

input:focus ~ label,
input:valid ~ label {
    top: -12px;
}

.inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0 50px 0 5px;
    color: #fff;
}

#btn{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255,255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

button:hover {
    background-color: rgb(255, 255,255, 0.5);
}


* .footer {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: flex-start /* Center items vertically */
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: black;
    padding: 20px;
}

.sidebar .logo img {
    width: 140px;
}

.sidebar .navigation ul {
    margin-top: 90px;
    list-style: none;
}

.sidebar .navigation ul li {
    padding: 10px 0;
}

.sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 18px;
}

.sidebar .navigation ul li .fa {
    font-size: 20px;
    margin-right: 10px;
}

.sidebar .navigation ul li a:hover {
    color: white;
}
.sidebar .policies {
    position: absolute;
    bottom: 10px;
    /* bottom text */
}

.sidebar .policies ul {
    list-style: none;
}

.sidebar .policies ul li {
    padding-bottom: 5px;
}

.sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}

.sidebar .policies ul li a:hover {
    text-decoration: underline;
}


.main-container {
    margin-left: 200px;
    margin-top: 90px;
    padding: 20px;
    color: rgb(18, 17, 17);
    background-color: black;
}

.main-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}



.text{
    color: white;
    font-size: 20px;
}